@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Quattrocento+Sans');
table{
  border-spacing: 0;
}
td img{
  width:400px;
}
tr th{
  display:none;
}
tr{
  border:none;
}
tr:nth-child(odd){
}
tr:hover{
  color:#2f3542;
  background-color:#ecf0f1;
}
tr td{
  padding:20px;
  margin:0;
}
td p,time{
  font-size: 1em;

  color:#2d3436;
  text-align: justify;
}
p{
  line-height: 1.6;
  text-align: justify;
}
td h3{
  font-family: 'Noto Serif KR', sans-serif;
  color:#2d3436;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){
table, td, tr, th{
  display:block;
}
tr{
  padding:10px;
}
td img{
  width:100%;
}
h3{
  text-align:center;
  margin:0;
  font-size:1.5em;
}
}
